<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificación Automática de Residuos</title>
    <link rel="icon" href="/static/css/mundo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/clasificacion.css">
</head>
<body>
    <div class="header">
        <h1>Clasificación Automática de Residuos</h1>
        <a href="/">Volver al INICIO</a>
    </div>

    <div class="content">
        <h2>¿Cómo Funciona?</h2>
        <p>La clasificación automática de residuos es un proceso mediante el cual los residuos se separan eficientemente mediante el uso de tecnología avanzada. Sensores y algoritmos de inteligencia artificial permiten identificar y clasificar materiales como plásticos, metales, vidrio y papel, facilitando su reciclaje y reduciendo la contaminación. Este tambien cuenta con varios beneficios como lo puede ser una mayor eficiencia, reducción de errores, menor coste y mayor sostenibilidad.</p>
        <img src="https://media.istockphoto.com/id/1191750758/es/foto/basura-de-clasificaci%C3%B3n-rob%C3%B3tica-de-brazos-clasificaci%C3%B3n-autom%C3%A1tica-de-basura-renderizado-3d.jpg?s=170667a&w=0&k=20&c=dYs9O6rez0ZEbYUKpnpKm1YKrPBtacWL86qw3sOj4wI=" alt="Clasificación de residuos" style="width: 100%; height: auto; border-radius: 10px;">
    </div>

    <footer class="footer">
        © 2025 Proyecto Medioambiental. Todos los derechos reservados.
    </footer>
</body>
</html>