<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Ambiental</title>
    <link rel="stylesheet" href="/static/css/quiz.css">
    <link rel="icon" href="/static/css/mundo.png" type="image/png">
</head>
<body>
    <div class="quiz-container">
        <h1>Quiz Ambiental</h1>
        <div id="quiz"></div>
        <div id="result" class="result"></div>
        <div style="text-align: center; margin-top: 20px;">
            <a href="/" class="back-button">⬅️ Volver al INICIO</a>
        </div>
    </div>
    <footer class="footer">
        © 2025 Proyecto Medioambiental. Todos los derechos reservados.
    </footer>
    <script src="/static/css/js/quiz.js"></script>
</body>
</html>